.Container{
  background-color: rgb(194, 190, 190);
  display: flex;
  justify-content: center;
}

.content{
  width: 40%;
  background-color: white;
  height: 100vh;
}

.contentTitle{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: "fangsong";
  margin: 3px;
}

.radiobtn{
display: flex;
}

.radiobutton{
  width: 30%;
  margin-top: 10px;
}

.formContainer{
  padding: 25px 25px 0px 25px;
}

.formFields{
  display: flex;
  width: 100%;
}


.lableview{
  font-size: 14px;
  font-weight: 600;
  display: flex;
}

.inputboxshow{
  margin-bottom: 16px;
  width: 50%;
}

.inputbox{
  height: 33px;
  width: 83%;
  background:rgb(235, 233, 233);
  border:1px solid gray;
}

.inputboxvalid{
  height: 33px;
  width: 83%;
  background:rgb(235, 233, 233);
  border:1px solid red;
}

.errorMessege{
  font-size: 12px;
  color: red;
  padding: 3px;
}

input:focus
{
    border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}

.inputboxaddress{
  height: 33px;
  width: 182.5%;
  background:rgb(235, 233, 233);
  border:1px solid gray;
}

.starView{
  color: red;
  margin-left: 4px;
  font-size: 16px;
}

.btnshow{
  display: flex;
  margin-top: 24px;
}

.buttonview{
  font-size: 16px;
  border: 1px solid gray;
  width: 33%;
  padding: 9px 10px;
  text-align: center;
  background: gray;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin: 0px 2px;
  cursor: pointer;
  }

  .backbtn{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
  
.backbuttonview{
    font-size: 16px;
    border: 1px solid gray;
    width: 10%;
    padding: 9px 10px;
    text-align: center;
    background: gray;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin: 0px 2px;
    cursor: pointer;
  }

  .viewList{
    color: rgb(8, 128, 240);
    text-align: end;
    margin-top: 10px;
    padding-right: 68px;
    text-decoration: underline;
    cursor: pointer;
  }

  .showContent{
    width: 60%;
    background-color: rgb(233, 233, 233);
    padding: 25px;
    height: 100vh;
  }

  .viewaddList{
    display: flex;
    margin-bottom: 5px;
  }

  .lablelist{
    width: 19%;
    font-weight: 600;
  }
  
  .datalist{
    padding-left: 20px;
  }

  .showListcontainer{
    margin: 15px 0px 0px 0px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
  }

  .indexvalue{
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
  }